$font-stack: sans-serif,Helvetica;
$dark-upper-gradient-background: rgb(49, 49, 49);
$dark-bottom-gradient-background: rgb(8, 38, 94);
$light-upper-gradient-background: rgb(204, 204, 204);
$light-bottom-gradient-background: rgb(149, 186, 255);
$widthOfOpt: 200px;
$widthOfInputFunc: 140px;
$widthOfButton: 40px;
$margin: 10px;
$margin4Func: 5px;
$height4Func: 34px;

/* comment be like haha */

html{
  height: 100%;
  width: 100%;}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.menu{
  position: absolute;
  overflow: auto;
  width:$widthOfOpt+50px;
  height:$widthOfOpt + $widthOfButton + $margin + $margin + $margin + $margin + $widthOfOpt + $margin + $widthOfButton + $margin + 40px + $margin + $margin + $widthOfButton+ $margin + $margin + $widthOfButton+ $margin + $margin + $widthOfButton + $margin + $margin + $widthOfButton + $widthOfButton + $margin + $margin + $margin + $margin + $margin + $margin;
  margin: 0px;
  top: 0;
  right: 0;
}

#light{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(120deg,$light-upper-gradient-background,$light-bottom-gradient-background);
}

#dark{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(120deg,$dark-upper-gradient-background,$dark-bottom-gradient-background);
  transition: opacity 0.5s ease-in-out;
}

#dark.transition{
  opacity:0;
}

.button-2D-3D{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: $widthOfButton;
  height:$widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  transition: .3s;
}

.button-2D-3D:hover{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.mode-switch{
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: $widthOfButton;
  height:$widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  transition: .3s;
}

.mode-switch:hover{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

ul{
  padding:0px;
  margin:49px 0px 0px 0px;
}

li{
  padding: 5px 0 5px 5px;
  border-radius: $margin;
  list-style-type: none;
  height: $height4Func;
  margin: $margin4Func 0 $margin4Func 0;
  width: 195px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: $font-stack;
  font-size: 20px;
  vertical-align:top
}

.changeColor{
  position: absolute;
  top: $widthOfOpt + $margin + $margin;
  right: 110px;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: 90px;
  height: $widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.changeColor:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.deleteFunc{
  position: absolute;
  top: $widthOfOpt + $margin + $margin;
  right: 0vh;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: 90px;
  height: $widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.deleteFunc:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.inputFunction{
  font-size: 20px;
  position: absolute;
  color: white;
  top: $margin4Func;
  outline: 0;
  left: $margin4Func;
  border: 0;
  border-radius: $margin;
  margin: 0px;
  width: $widthOfInputFunc;
  height:$height4Func;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

#minRangeInput, #maxRangeInput{
  font-size: 15px;
  width: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  border: 0;
}

#rangeSpan{
  font-family: $font-stack;
  font-size: 15px;
  color: white;
}

.addFunction{
  position: absolute;
  top: $margin4Func;
  outline: 0;
  left: $widthOfInputFunc + $margin4Func + $margin4Func + $margin4Func+ $margin4Func;
  border: 0;
  border-radius: $margin;
  margin: 0px;
  width: 34px;
  height:34px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.addFunction:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.dock4Func{
  overflow-y: auto;
  position: absolute;
  top: 0vh;
  right: 0vh;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: $widthOfOpt;
  height: $widthOfOpt;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgba(0, 0, 0, 0.3);
}
.dock{
  position: absolute;
  top: $widthOfOpt + $margin + $margin + $widthOfButton + $margin + $margin;
  right: 0vh;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: $widthOfOpt;
  height: $widthOfOpt + 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.sliderContainer{
  position: absolute;
  text-align: center;
  top: $margin + $margin + $widthOfOpt + $margin + $margin + $widthOfOpt + 40px+ $margin + $margin + $widthOfButton + $margin + $margin + $widthOfButton + $margin + $margin + $widthOfButton + $widthOfButton + $margin + $margin;
  right: 0vh;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: $widthOfOpt;
  height:$widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.xml{
  position: absolute;
  top: $margin + $margin + $widthOfButton + $margin + $margin + $margin + $margin + $widthOfOpt + $margin + $widthOfButton + $margin + 40px + $margin + $margin + $widthOfButton+ $margin + $margin + $widthOfButton+ $margin + $margin + $widthOfButton + $widthOfOpt+ $widthOfButton + $margin + $margin;
  outline: 0;
  right: 0;
  border: 0;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: $widthOfButton;
  height:$widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  transition: .3s;
}

.xml:hover{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.png{
  position: absolute;
  top: $margin + $margin + $widthOfButton + $margin + $margin + $margin + $margin + $widthOfOpt + $margin + $widthOfButton + $margin + 40px + $margin + $margin + $widthOfButton+ $margin + $margin + $widthOfButton+ $margin + $margin + $widthOfButton + $widthOfOpt+ $widthOfButton + $margin + $margin;
  outline: 0;
  right: $widthOfButton + $margin + $margin + $margin + $margin;
  border: 0;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: $widthOfButton;
  height:$widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  transition: .3s;
}

.png:hover{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.jpg{
  position: absolute;
  top: $margin + $margin + $widthOfButton + $margin + $margin + $margin + $margin + $widthOfOpt + $margin + $widthOfButton + $margin + 40px + $margin + $margin + $widthOfButton+ $margin + $margin + $widthOfButton+ $margin + $margin + $widthOfButton + $widthOfOpt+ $widthOfButton + $margin + $margin;
  outline: 0;
  right: $widthOfButton + $margin + $margin + $margin + $margin + $margin + $margin + $widthOfButton + $margin + $margin;
  border: 0;
  border-radius: $margin;
  margin: $margin $margin $margin $margin;
  width: $widthOfButton;
  height:$widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  transition: .3s;
}

.jpg:hover{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.inSliderUp{
  display: inline-block;
  width: $widthOfOpt;
  height:2vh;
}

.inSliderDown{
  display: inline-block;
  margin: $margin 0px 0px 0px;
  width: $widthOfOpt;
  height:2vh;
}

#speedPrecision{
  color: rgb(255, 255, 255);
  font-family: $font-stack;
  display: inline-block;
}

.slider{
  -webkit-appearance: none;
  width: $widthOfOpt;
  height:10px;
  margin:0px;
  border-radius: 15px;
  appearance: none;
  display: inline-block;
  background: rgb(224, 224, 224);
  outline: none;
  opacity: 0.6;
  transition: opacity .3s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-range-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  cursor: pointer;
}

#Precision{
  color: rgb(255, 255, 255);
  font-family: $font-stack;
  display: inline-block;
}

.xValueRange {
  position: absolute;
  color: white;
  top: $margin + $margin + $widthOfOpt + $margin + $margin + $widthOfOpt + 40px + $widthOfButton + $margin + $margin;
  right: 0;
  border-radius: 10px;
  margin: $margin $margin $margin $margin;
  width: $widthOfOpt;
  height: $widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.yValueRange {
  position: absolute;
  color: white;
  top: $margin + $margin + $widthOfOpt + $margin + $margin + $widthOfOpt + $margin + $widthOfButton + $margin + 40px+ $widthOfButton + $margin + $margin;
  right: 0;
  border-radius: 10px;
  margin: $margin $margin $margin $margin;
  width: $widthOfOpt;
  height: $widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.zValueRange {
  position: absolute;
  color: white;
  top: $margin + $margin + $widthOfOpt + $margin + $margin + $widthOfOpt + $margin + $widthOfButton + $margin + 40px + $margin + $margin + $widthOfButton+ $widthOfButton + $margin + $margin;
  right: 0;
  border-radius: 10px;
  margin: $margin $margin $margin $margin;
  width: $widthOfOpt;
  height: $widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.slideZoomContainer {
  position: absolute;
  color: white;
  text-align: center;
  top: $margin + $margin + $widthOfOpt + $margin + $margin + $widthOfOpt + $margin + $widthOfButton + $margin + 40px+ $margin + $margin + $widthOfButton + $margin + $margin + $widthOfButton + $margin + $margin + $widthOfButton + $widthOfButton + $margin + $margin;
  right: 0;
  border-radius: 10px;
  margin: $margin $margin $margin $margin;
  width: $widthOfOpt;
  height: $widthOfButton;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

#container2D {
  position: absolute;
  top: 80px;
  left: 50px;
  max-width: 1200px;
  max-height: 800px;
}

#zoomSpan{
  color: rgb(255, 255, 255);
  font-family: $font-stack;
}

#writer{
  width: 100%;
  height: 100vh;
}

#container2D{
  left:0px;
  top:0px;
  width: 100%;
  height: 100vh;
}

#2d-graph {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

#light-dark-button{
  position: absolute;
  height: $widthOfButton;
  width: $widthOfButton;
  background-image: url(../resources/moon.png);
  background-size: $widthOfButton,$widthOfButton;
}

#light-dark-button.transition1{
  position: absolute;
  height: $widthOfButton;
  width: $widthOfButton;
  background-image: url(../resources/sun.png);
  background-size: $widthOfButton,$widthOfButton;
}

#button-2D{
  position: absolute;
  height: $widthOfButton;
  width: $widthOfButton;
  background-image: url(../resources/2D.png);
  background-size: $widthOfButton,$widthOfButton;
}

#button-3D{
  position: absolute;
  height: $widthOfButton;
  width: $widthOfButton;
  background-image: url(../resources/3D.png);
  background-size: $widthOfButton,$widthOfButton;
}

#button-plus{
  position: absolute;
  height: $height4Func;
  width: $height4Func;
  background-image: url(../resources/plus.png);
  background-size: $height4Func , $height4Func;
}

#button-xml{
  position: absolute;
  height: $widthOfButton;
  width: $widthOfButton;
  background-image: url(../resources/xml.png);
  background-size: $widthOfButton , $widthOfButton;
}

#button-jpg{
  position: absolute;
  height: $widthOfButton;
  width: $widthOfButton;
  background-image: url(../resources/jpg.png);
  background-size: $widthOfButton , $widthOfButton;
}

#button-png{
  position: absolute;
  height: $widthOfButton;
  width: $widthOfButton;
  background-image: url(../resources/png.png);
  background-size: $widthOfButton , $widthOfButton;
}