/* comment be like haha */
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.menu {
  position: absolute;
  overflow: auto;
  width: 250px;
  height: 700px;
  margin: 0px;
  top: 0;
  right: 0;
}

#light {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(120deg, #cccccc, #95baff);
}

#dark {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(120deg, #313131, #08265e);
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#dark.transition {
  opacity: 0;
}

.button-2D-3D {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.button-2D-3D:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.mode-switch {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.mode-switch:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.inputFunction {
  font-size: 20px;
  position: absolute;
  color: white;
  top: 0;
  outline: 0;
  right: 60px;
  border: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 140px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

#minRangeInput, #maxRangeInput {
  font-size: 15px;
  width: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  border: 0;
}

#rangeSpan {
  font-family: sans-serif, Helvetica;
  font-size: 15px;
}

.addFunction {
  position: absolute;
  top: 0;
  outline: 0;
  right: 0;
  border: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.addFunction:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.dock {
  position: absolute;
  top: 60px;
  right: 0vh;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 200px;
  height: 240px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.sliderContainer {
  position: absolute;
  text-align: center;
  top: 500px;
  right: 0vh;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 200px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.xml {
  position: absolute;
  top: 620px;
  outline: 0;
  right: 0;
  border: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.xml:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.png {
  position: absolute;
  top: 620px;
  outline: 0;
  right: 80px;
  border: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.png:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.jpg {
  position: absolute;
  top: 620px;
  outline: 0;
  right: 160px;
  border: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.jpg:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}

.inSliderUp {
  display: inline-block;
  width: 200px;
  height: 2vh;
}

.inSliderDown {
  display: inline-block;
  margin: 10px 0px 0px 0px;
  width: 200px;
  height: 2vh;
}

#speedPrecision {
  color: white;
  font-family: sans-serif, Helvetica;
  display: inline-block;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  margin: 0px;
  border-radius: 15px;
  -moz-appearance: none;
       appearance: none;
  display: inline-block;
  background: #e0e0e0;
  outline: none;
  opacity: 0.6;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.slider::-webkit-range-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  cursor: pointer;
}

#Precision {
  color: white;
  font-family: sans-serif, Helvetica;
  display: inline-block;
}

.xValueRange {
  position: absolute;
  color: white;
  top: 320px;
  right: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 200px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.yValueRange {
  position: absolute;
  color: white;
  top: 380px;
  right: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 200px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.zValueRange {
  position: absolute;
  color: white;
  top: 440px;
  right: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 200px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.slideZoomContainer {
  position: absolute;
  color: white;
  text-align: center;
  top: 560px;
  right: 0;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  width: 200px;
  height: 40px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

#zoomSpan {
  color: white;
  font-family: sans-serif, Helvetica;
}

#writer {
  width: 100%;
  height: 100vh;
}

#light-dark-button {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../resources/moon.png);
  background-size: 40px, 40px;
}

#light-dark-button.transition1 {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../resources/sun.png);
  background-size: 40px, 40px;
}

#button-2D {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../resources/2D.png);
  background-size: 40px, 40px;
}

#button-3D {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../resources/3D.png);
  background-size: 40px, 40px;
}

#button-plus {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../resources/plus.png);
  background-size: 40px, 40px;
}

#button-xml {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../resources/xml.png);
  background-size: 40px, 40px;
}

#button-jpg {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../resources/jpg.png);
  background-size: 40px, 40px;
}

#button-png {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../resources/png.png);
  background-size: 40px, 40px;
}
/*# sourceMappingURL=style.css.map */